# Web Framework
Flask==3.0.0
FastAPI==0.110.0

# Database (MongoDB)
pymongo==4.6.1  # MongoDB client
dnspython==2.4.2  # if use MongoDB Atlas (remote)

# Authentication & Security
bcrypt==4.1.2  # password hashing
pyjwt==2.8.0  # JSON Web Token auth
passlib==1.7.4  # password hashing (with bcrypt)
python-dotenv==1.0.1  # env variable management

# Data Processing & Visualization
numpy==1.25.0
pandas==2.2.0
matplotlib==3.8.0  # Visuals (if needed)

# API & CORS
Flask-Cors==4.0.0  # Cross-Origin Resource Sharing
fastapi[all]==0.110.0

# Deployment & Production
#gunicorn==21.2.0  # Production-ready WSGI server
