@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: 'Silkscreen', serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.gif-container {

    background: url("../src/assets/images/run.gif") no-repeat center center;

}
/* Header styles */
.header-bg {
    background-color: rgba(67, 42, 221, 0.8);
}

.nav-link:hover {
    color: #75107d;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 160px); /* Adjust based on header/footer height */
    text-align: center;
    padding: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(59, 130, 246, 0.5);
}

/* Additional styles for the app structure */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}